body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  .bgimg{
    background: url(../images/cliffs-daylight-environment-2098403.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .middle{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1{
        font-size: 40px;
        letter-spacing: 30px;
        font-weight: 100;
      }
      hr{
        border: 1px solid #fff;
        margin: auto;
        width: 80%;
      }
      #demo{
        font-weight: lighter;
        word-spacing: 20px;
        font-size: 30px;
      }
    }
  }
}